{% extends 'home.html' %}
{% load socialaccount %}
{% block title %}Log In{% endblock title %}

{% block content %}

<div class="logincontainer" style="display:flex;justify-content:center;align-items:center;flex-direction: column;">
    <div class="loginclass">
        <h2>Log In</h2>
        <form method="post" class="loginform">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">Log In</button>
            <div style="padding-top: 70px">
                <div class="createbtn">
                    <p style="font-size: 15px;">Not have an Account? </p>
                    <a href="{% url 'account_signup' %}"> Create an Account!</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}